@charset "UTF-8";
.loader-div {
  width: 100vw;
  height: 100vh;
  background-color: aliceblue;
  text-align: center;
}

.loader-svg {
  position: relative;
  top: 7em;
  width: 5em;
  height: 5em;
}

.str0 {
  fill: none;
  stroke: #29ABE2;
  stroke-miterlimit: 9;
  stroke-dasharray: 12.2685, 12.2685;
}

.str1 {
  fill: #29ABE2;
}

.str2 {
  fill: #ffffff;
}

#spinner-svg {
  animation: spin 3s linear infinite;
}

#circ {
  animation: stretch 1s linear infinite;
}

.spinner-circ1 {
  stroke: #29ABE2;
  stroke-width: 10;
  stroke-miterlimit: 10;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
}

.spinner-circ2 {
  stroke: white;
  stroke-width: 7;
  stroke-miterlimit: 10;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
}

@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes stretch {
  0% {
    stroke-dasharray: 0, 500;
    stroke-dashoffset: -500;
  }
  100% {
    stroke-dasharray: 500, 500;
    stroke-dashoffset: 500;
  }
}
body {
  font-size: 25px;
  font-family: Calibre, "San Francisco", "SF Pro Text", -apple-system, system-ui, BlinkMacSystemFont, Roboto, "Helvetica Neue", "Segoe UI", Arial, sans-serif;
}

.header {
  width: 90%;
  z-index: 3;
  left: 5%;
  position: fixed;
  transition: all 0.15s ease-in-out;
  background-color: transparent;
}
.header .nav-div {
  width: 100%;
  margin: 0 auto;
  display: flex;
  font-size: 0.7em;
}
.header nav {
  width: 80%;
  position: relative;
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  color: white;
}
.header nav ul {
  list-style: none;
}
.header .list-item {
  display: flex;
  float: left;
  margin-left: 1em;
  margin-right: 1em;
  padding: 1em 0;
}
.header .list-item a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", "Lucida Console", Monaco, monospace;
}
.header .list-item:hover {
  border-bottom: 0.1em solid #f8f8f8;
  transition: all 0.5s ease;
}
.header .nav-toggle {
  display: none;
}

.cont-div {
  width: 2em;
  position: fixed;
  bottom: 0;
  right: auto;
  left: 0.5em;
  z-index: 3;
}
.cont-div ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
}
.cont-div ul li {
  margin-bottom: 2em;
}
.cont-div ul li a {
  color: #4e4444;
}
.cont-div ul::after {
  content: "";
  width: 1px;
  margin: 0 auto;
  display: block;
  height: 9em;
  background-color: #4e4444;
}

.email-div {
  width: 2em;
  position: fixed;
  bottom: 0;
  right: 0.5em;
  left: auto;
  z-index: 3;
}
.email-div div {
  width: fit-content;
  margin: 0 auto;
}
.email-div div a {
  text-decoration: none;
  writing-mode: vertical-rl;
  font-size: 0.7em;
  letter-spacing: 0.1em;
  color: #4e4444;
}
.email-div div::after {
  content: "";
  display: block;
  width: 1px;
  height: 5em;
  margin: 0 auto;
  background-color: #4e4444;
}

.active {
  border-bottom: 0.1em solid #f8f8f8;
  transition: all 0.5s ease;
}

.porto-img {
  width: 10em;
  height: 10em;
  border-radius: 10em;
  border: 0.2em solid #f1f1f1;
}

.whblue {
  background-color: #f8f8f8;
}
.whblue .active {
  border-bottom: 0.1em solid #1200ff;
  transition: all 0.5s ease;
}
.whblue .list-item a {
  color: blue !important;
}
.whblue .list-item:hover {
  border-bottom: 0.1em solid #1200ff;
  transition: all 0.5s ease;
}

.div-wrap {
  width: 80%;
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 1em;
}
.div-wrap h2 {
  color: navy;
}
.div-wrap p {
  font-size: 0.7em;
}
.div-wrap .tech-list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, minmax(6em, 8em));
  overflow: hidden;
  margin-left: -1.5em;
}
.div-wrap .tech-list li {
  position: relative;
  padding-left: 0.8em;
  margin-bottom: 0.4em;
  font-size: 0.6em;
}
.div-wrap .tech-list li:before {
  content: "▹";
  position: absolute;
  left: 0;
  font-size: 0.7em;
  line-height: 0.6em;
  color: #010101;
}

#prime-div {
  color: white;
}
#prime-div .link-work {
  text-decoration: none;
  display: inline-block;
  margin: 1em;
  border: 1px solid white;
  padding: 1em;
  color: black;
  background-color: white;
  cursor: pointer;
}

.info-sec {
  border-bottom: 1px solid #0e62e0;
  text-align: left;
  padding: 5em 0;
  width: 90%;
  margin: 0 auto;
}
.info-sec:nth-child(odd) {
  background-color: lightgrey;
}
.info-sec::nth-child(even) {
  background-color: #f1f1f1;
}

.prime-sec {
  border-bottom: 1px solid #f1f1f1;
  text-align: center;
  padding: 7.5em 0;
  background-size: cover;
  background: #1200ff url("./cover_photo_11.jpeg") 50% 65% no-repeat fixed;
  margin-bottom: 0.5em;
  width: 90%;
  margin: 0 auto;
}

.tab-list {
  float: left;
  width: 30%;
  background-color: transparent;
  margin-right: 2em;
  padding-top: 1.5em;
}
.tab-list button {
  display: block;
  background-color: transparent;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  padding: 1em 0.75em;
  border-radius: 0.15em;
  font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", "Lucida Console", Monaco, monospace;
}
.tab-list button:hover {
  background-color: #d1d1d1;
}
.tab-list .btn-active {
  background-color: #cccccc;
  border: 0.2em solid #e48431e6;
}

.tab-info {
  float: left;
  width: 60%;
  display: none;
}
.tab-info ul {
  margin-left: -1.5em;
  list-style: none;
  font-size: 0.8em;
}
.tab-info ul li {
  position: relative;
  padding-left: 0.8em;
  margin-bottom: 0.4em;
  font-size: 0.8em;
}
.tab-info ul li:before {
  content: "▹";
  position: absolute;
  left: 0;
  font-size: 0.9em;
  line-height: 0.6em;
  color: #010101;
}

.tab-active {
  display: block;
}

.pos-span {
  color: #969696;
}
.pos-span a {
  text-decoration: none;
  cursor: pointer;
  color: #969696;
}

.contact-logo {
  display: table;
  margin: 0 auto;
}
.contact-logo ul {
  transition: all 0.3s ease-in-out;
  list-style: none;
}
.contact-logo ul li {
  float: left;
  padding: 0 0.5em;
  position: relative;
  left: -1.5em;
}
.contact-logo ul li a {
  text-decoration: none;
  cursor: pointer;
}

.footer-div {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  padding: 2em 0;
}
.footer-div p:nth-child(1) {
  font-size: 0.8em;
}
.footer-div p:nth-child(1) a {
  text-decoration: none;
  color: #2f49d0;
  font-weight: bold;
}
.footer-div p:nth-child(2) {
  font-size: 0.6em;
  font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", "Lucida Console", Monaco, monospace;
}

.nav-div-sm-prime {
  background-color: #291a18;
}

.nav-div-sm-info {
  background-color: white;
}

.tr-bg {
  background-color: transparent;
}

.toggle-prime {
  color: white;
}

.toggle-info {
  color: blue;
}

@media screen and (max-width: 768px) {
  .header .nav-toggle {
    display: block;
  }
  .header .nav-div {
    width: 70%;
    margin-left: 1em;
    border-radius: 2px;
    padding: 0.5em;
    font-size: 0.7em;
  }
  .header nav {
    width: 80%;
  }
  .header .nav-div,
.header nav {
    flex-direction: column;
  }
  .header .list-item {
    display: none;
  }
  .header .list-item a {
    font-weight: normal;
  }
  .header .toggle-show {
    display: flex;
  }

  .tab-list {
    display: flex;
  }
  .tab-list button {
    width: auto;
  }

  .div-wrap {
    width: 85%;
  }

  .tab-info {
    width: 100%;
  }
  .tab-info h4 {
    font-size: 0.8em;
  }
  .tab-info h5 {
    font-size: 0.7em;
  }
  .tab-info h6 {
    font-size: 0.5em;
  }
  .tab-info ul li {
    font-size: 0.7em;
  }

  .whblue {
    background-color: transparent;
  }

  .email-div {
    display: none;
  }

  .cont-div {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .div-wrap {
    width: 70%;
  }
}

/*# sourceMappingURL=designPort.css.map */
