@mixin getSpinnerCircle($strokeWidth: 7, $strokeColor: white) {
    stroke: $strokeColor;
    stroke-width: $strokeWidth;
    stroke-miterlimit: 10;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
}

.loader-div {
    width: 100vw;
    height: 100vh;
    text-align: center;
    padding: 2em 0;

    h2 {
        position: relative;
        top: 4em;
        color: #4d4c55;
        animation: blink 1s linear infinite
    }
}

.loader-svg {
    position: relative;
    top: 7em;
    width: 5em;
    height: 5em;
}

.str0 {
    fill: none;
    stroke: #29ABE2;
    stroke-miterlimit: 9;
    stroke-dasharray: 12.2685,12.2685;
}

.str1 {
    fill: #29ABE2;
}

.str2 {
    fill: #ffffff;
}

#spinner-svg {
    animation: spin 3s linear infinite;
}

#circ {
    animation: stretch 1s linear infinite;
}

.spinner-circ1 {
    @include getSpinnerCircle(10, #29ABE2);
}

.spinner-circ2 {
    @include getSpinnerCircle(7, white);
}

@keyframes spin {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes stretch {
    0% {
        stroke-dasharray:0,500;
		stroke-dashoffset:-500;
    }

    100% {
        stroke-dasharray:500,500;
		stroke-dashoffset:500;
    }
}

@keyframes blink {
    0% {
        opacity: 0.1;
    }

    100% {
        opacity: 1;
    }
}