$bodyFontSize: 25px;


// Loader style variables
$loaderh2Color: #4d4c55;
$loaderCircle: #29ABE2;
$loaderFillColor: #ffffff;

// Skills Section variables
$skillFontColor: #e96618;
$skillBarBorderColor: #dad5d5;

// Webpage variables
$def-font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", "Lucida Console", Monaco, monospace;
$home-font-family: Calibre, "San Francisco", "SF Pro Text", -apple-system, system-ui, BlinkMacSystemFont, Roboto, "Helvetica Neue", "Segoe UI", Arial, sans-serif;
$fixDivColor: #4e4444;
$borderColor: #f1f1f1;
$whBackgroundColor: #f8f8f8;
$whActiveLink: #1200ff;
$liAfterColor: #010101;
$sectionBorderColor: #0e62e0;
$oddBgColor: #fbfbfb;
$tabBgColor: #d1d1d1;
$tabActiveColor: #cccccc;
$posTextColor: #969696;
$minNavBgColor: #291a18;