@mixin smoothNav($borderColor:#f8f8f8) {
    border-bottom: 0.1em solid $borderColor;
    transition: all 0.5s ease;
}

@mixin getCircular($width:240px) {
    width: $width;
    height: $width;
    border-radius: $width;
}

@mixin getFixedDivStyle($width: 2em, $right:auto, $left: auto) {
    width: $width;
    position: fixed;
    bottom: 0;
    right: $right;
    left: $left;
    z-index: 3;
}

@mixin getSpinnerCircle($strokeWidth: 7, $strokeColor: white) {
    stroke: $strokeColor;
    stroke-width: $strokeWidth;
    stroke-miterlimit: 10;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
}

@mixin getLiStyle($liContentColr: #010101) {
    list-style: none;
    font-size: 0.8em;

    li {
        position: relative;
        padding-left: 1.2em;
        margin-bottom: 0.4em;
        font-size: 0.8em;
    }

    li:after {
        content: "▹";
        position: absolute;
        left: 0;
        font-size: 0.9em;
        line-height: 0.6em;
        color: $liContentColr;
    }
}

@mixin getH2Style() {
    color: navy;

    &::after {
        content: "";
        position: absolute;
        display: block;
        width: 2em;
        margin: 0.3em auto;
        border: 2px double #e96618;
    }
}

@mixin  getFlexDivStyle() {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    margin: 3em auto;
    width: 80%;
}

@mixin getKeyFrame() {
    @keyframes animate_skills {
        0% {
            transform: scaleX(0.1);
            transform-origin: left;
        }
    
        25% {
            transform: scaleX(0.3);
            transform-origin: left;
        }
    
        50% {
            transform: scaleX(0.5);
            transform-origin: left;
        }
    
        75% {
            transform: scaleX(0.75);
            transform-origin: left;
        }
    
        100% {
            transform: scaleX(1);
            transform-origin: left;
        }
    }
}

@mixin getFadeInAnim() {
    @keyframes fadeIn {
        0% {
            opacity: 0;
            transform: translate3d(0, 100%, 0);
        }

        100% {
            opacity: 1;
            transform: none;
        }
    }
}

@mixin getScaleAnim() {
    i:hover {
        transform: scale(1.5);
        transition: all 0.5s ease-in;
    }
}