@import './variables.scss';
@import './mixins.scss';

@include getKeyFrame();

.facts-div {
    @include getFlexDivStyle();

    h2 {
        @include getH2Style();
    }

    div {
        flex-grow: 1;
        text-align: center;
        margin: 0.5em 0;

        i {
            display: block;
            font-size: 2em;
        }

        span {
            font-size: 2em;
            color: $skillFontColor;
            border-bottom: 1px solid;
        }

        p {
            margin-top: 1.3em;
        }
    }
}

.skills-div {
    @include getFlexDivStyle();

    .section-div {
        flex-grow: 1;
        margin: 0.5em 0;
    }

    #divvcc {
        width: 80%;
    }

    #divc {
        width: 70%;
    }
 
    #divmfc {
        width: 70%;
    }

    #divpy {
        width: 60%;
    }

    #divsql {
        width: 75%;
    }

    #divmfcdb {
        width: 72%;
    }
}

.outer-div {
    margin: 1em 0;
    border-radius: 0.2em;
    border: 1px solid $skillBarBorderColor;
    line-height: 0.7em;
}

.inner-div {
    padding: 0.3em;
    background-color: $skillFontColor;
    border-radius: 0.2em;
    color: white;
}

.animated {
    animation: animate_skills 2s 1s linear;
}

@media screen and (max-width: 720px) {
    .facts-div {
        flex-direction: column;
        div {
            margin: 1em 0;
        }
    }
}